#holder {
  margin: 20px;
  padding: 20px;
  border: 1px solid #eee;
}
#holder p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.mengbi {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  margin-left: -1px;
  margin-top: -1px;
  vertical-align: top;
}
.mengbi:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 0, 0, .6);
     -moz-box-shadow: 0 0 10px 0 rgba(255, 0, 0, .6);
          box-shadow: 0 0 10px 0 rgba(255, 0, 0, .6);
  z-index: 2;
}
